<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Game Series</title>
  </head>
  <body>
    <%- include('partials/header', { title: 'View Scores', page: 'series' }) %>
    <table>
      <tr>
        <th>Date</th>
        <th>League</th>
        <th>Game 1</th>
        <th>Game 2</th>
        <th>Game 3</th>
        <th>Total</th>
        <th>Average</th>
      </tr>
      <% series.forEach((s) => { %>
      <tr>
        <td>
          <%= s.date.toLocaleDateString('en-US', { month: 'long', day: 'numeric'
          }) %>
        </td>
        <td><%= s.league %></td>
        <td><%= s.game1 %></td>
        <td><%= s.game2 %></td>
        <td><%= s.game3 %></td>
        <td><%= s.total %></td>
        <td><%= Math.floor(s.average) %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
