<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Game Series</title>
  </head>
  <body>
    <%- include('partials/header', { title: 'Series', page: 'series' }) %>
    <div class="container">
      <h1>Game Series</h1>
      <ul>
        <% games.forEach((game) => { %>
        <li>
          <% const formattedDate = new
          Date(game.date).toLocaleDateString('en-US', { month: 'long', day:
          'numeric' }); %> <%= formattedDate %> - Games: <%= game.game1 %>, <%=
          game.game2 %>, <%= game.game3 %> Series: <%= game.total %> Average:
          <%= Math.floor(game.average) %>
        </li>
        <% }); %>
      </ul>
      <p>Total Scores: <%= totalScores %></p>
    </div>
  </body>
</html>
